<!DOCTYPE html>
<html>
<head>
<title>Main Page</title>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Josefin+Sans:600&display=swap">
<link rel="stylesheet" type="text/css" href="intro.css">
</head>
<body>
 

 <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
       <a class="navbar-brand" style="border-radius: 30px; background: #ADD100;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #7B920A, #ADD100);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #7B920A, #ADD100); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 color: black; margin-top:25px; margin-bottom: -25px; margin-left:0;">Hostel Management</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav ">
        <li ><a href="/mainpage">Home</a></li>
        <li><a href="#cont">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right ">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <%= currentuser %> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Profile  <i class="fa fa-user" aria-hidden="true"></i></a></li>
            <li><a href="#">Notifications  <i class="fa fa-bell" aria-hidden="true"></i></a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/homepage">sign out  <i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
 </nav>

<div class="profile">
	<image class="pic" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png">
	<h1 class="profilename"> <%= currentuser %> </h1>
</div>

<div class="proinfo">
	<h3> Username:  <%= usernamelatest %> </h3>
	<h3> Roll Number:  <%= rolllatest %> </h3>
	<h3> Email:  <%= emaillatest %> </h3>
	<h3> Room Number:  <%= roomlatest %> </h3>
</div>

<div class="contact" id="cont">
    <div class="details">
      <h4>Contact Info:</h4>
      <div>mobile no - 7985256029</div>
      <div>phone no - 2360164</div>
      <div>email id - iec2018099@iiita.ac.in</div>
    </div>
  </div>

 <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.js"></script>
 <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

 
</body>

</html>   